@font-face {
  font-family: 'Riffic Free';
  src: url('fonts/RifficFree-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  text-align: center;
  font-family: 'Riffic Free', Arial, sans-serif;
  padding: 20px;
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: #800080;
  margin-top: 20px;
  font-size: 5vw;
}