@font-face {
    font-family: 'Riffic Free';
    src: url('fonts/RifficFree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'Riffic Free', Arial, sans-serif;
    padding: 4vmin;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

body {
  text-align: center;
<<<<<<< HEAD
  font-family: Arial, sans-serif;

=======
  font-family: "Riffic Free", Arial, sans-serif;
  padding: 20px;
  background-image: url("https://cdn2.softswiss.net/goodmancasino/b/pragmaticexternal/SugarRush1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
>>>>>>> dedc5c8113f543351c139f5ef8c57e7c91131be9
}

h1 {
    color: #800080;
    margin-top: 1vmin;
    font-size: 10vmin;
}

.questionText {
    color: #fff;
    letter-spacing: -1px;
    font-size: 5vmin;
    -webkit-text-stroke: 3px #246df8;
    text-shadow: 4px 4px 3px #0000ff;
}

.nextQuestionButton {
    padding: 1.5vmin;
    width: 25vmin;
    border-radius: 20px;
    border: none;
    background-color: #246df8;
    color: #fff;
    box-shadow: 2px 2px 5px #0000ff;
    transition: all .5s ease-in-out;
    font-weight: bold;
    text-transform: capitalize;
}

.nextQuestionButton:hover{
    background-color: #0000ff;
}

label {
  color: #800080;
  font-size: 2vw;
}

input {
  border: 2px solid #800080;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
input{
  text-align: center;
}
