@font-face {
    font-family: 'Riffic Free';
    src: url('fonts/RifficFree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'Riffic Free', Arial, sans-serif;
    padding: 4vmin;
    background-image: url('./media/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

h1 {
    color: #800080;
    margin-top: 1vmin;
    font-size: 10vmin;
}

.questionText {
    color: #fff;
    letter-spacing: -1px;
    font-size: 5vmin;
    -webkit-text-stroke: 3px #246df8;
    text-shadow: 4px 4px 3px #0000ff;
}

label {
  color: #800080;
  font-size: 2vw;
}

input {
  text-align: center;
  border: 2px solid #800080;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-family: "Riffic Free", Arial, sans-serif;
}

button {
  text-align: center;
  border: 2px solid #800080;
  border-radius: 10px;
  padding: 1.5vmin;
  letter-spacing: 1px;
  margin: 1vmin;
  width: 40vmin;
  transition: all .5s ease-in-out;
  font-family: "Riffic Free", Arial, sans-serif;
}

button:hover {
  background-color: #02C627;
  color: #fff;
}

#colorCircle {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(#02C627, #246df8);
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
